@import url("https://fonts.googleapis.com/css?family=Oswald");
@font-face {
  font-family: "Score Board";
  src: url("https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.eot");
  src: url("https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.eot")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.ttf")
      format("truetype"),
    url("https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.svg")
      format("svg");
}
@font-face {
  font-family: "againtsregular";
  src: url("https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.eot");
  src: url("https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.eot")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.ttf")
      format("truetype"),
    url("https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.svg")
      format("svg");
}

@import url("https://fonts.googleapis.com/css?family=Oswald");
@font-face {
  font-family: "Score Board";
  src: url("https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.eot");
  src: url("https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.eot")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.ttf")
      format("truetype"),
    url("https://cdn.jsdelivr.net/gh/dteirney/trains.maxx.co.nz/fonts/scoreboard/scoreboard-webfont.svg")
      format("svg");
}
@font-face {
  font-family: "againtsregular";
  src: url("https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.eot");
  src: url("https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.eot")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.ttf")
      format("truetype"),
    url("https://cdn.jsdelivr.net/gh/max-barry/demo.vhs/src/fonts/againts-webfont.svg")
      format("svg");
}

button {
  display: block;
  margin-top: 1rem;
  width: 100%;
  padding: 0.5rem;
  background-color: #fc0;
  border: 0;
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 1.2em;
  box-shadow: 2px 2px 0 black;
}
